{% extends "BpopWebsiteBundle::layout.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">News</div>

        <div class="panel-body">
            {{ include("BpopWebsiteBundle:News:formAddNews.html.twig") }}

            {% for article in news %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ article.title }}</div>
                    <div class="panel-body">{{ article.content }}</div>
                    <div class="panel-footer">Par {{ article.author.login }}, le {{ article.date|date('d/m/Y') }} à {{ article.date|date('H:m') }}</div>
                </div>
            {% else %}
                <span>There is not any article</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}