{% extends "BpopWebsiteBundle::layout.html.twig" %}

{% block body %}

    <h1>B!pop 4ever! <3 <3 <3</h1>

    <h3>Ceci est la page {{ page }} des news</h3>
    
    {{ include("BpopWebsiteBundle:News:formAddNews.html.twig") }}
    
    <h4>Liste des dernières nouvelles</h4>
    
    {% for article in news %}
        <div class="article">
            <h5>{{ article.title }}</h5>
            <p>{{ article.content }}</p>
            <span>Written by {{ article.author.login }} on {{ article.date|date('d/m/Y') }} at {{ article.date|date('H:m:s') }}</span>
        </div>
    {% else %}
        <span>There is not any article</span>
    {% endfor %}
    
    {{ render(controller("BpopWebsiteBundle:UpcomingDates:upcoming")) }}

{% endblock %}